In [1]:
import os
import numpy as np
import pandas as pd
import nltk
import string
import sklearn

In [18]:
file = pd.read_csv('D:\\5th sem\\ML\\Projects\\Dataset\\spam_or_not_spam.csv')

In [19]:
#file = file.to_numpy()
#print(file)
 
print(file.shape)
print(type(file))

(3000, 2)
<class 'pandas.core.frame.DataFrame'>

In [20]:
file

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1     martin a posted tassos papadopoulos the greek ...      0
2     man threatens explosion in moscow thursday aug...      0
3     klez the virus that won t die already the most...      0
4      in adding cream to spaghetti carbonara which ...      0
...                                                 ...    ...
2995   abc s good morning america ranks it the NUMBE...      1
2996   hyperlink hyperlink hyperlink let mortgage le...      1
2997   thank you for shopping with us gifts for all ...      1
2998   the famous ebay marketing e course learn to s...      1
2999   hello this is chinese traditional 子 件 NUMBER世...      1

[3000 rows x 2 columns]

In [21]:
# file = file[file['label'] == 1]
# file

In [22]:
file.reset_index(inplace = True)
file.drop('index',axis=1,inplace=True)
file

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1     martin a posted tassos papadopoulos the greek ...      0
2     man threatens explosion in moscow thursday aug...      0
3     klez the virus that won t die already the most...      0
4      in adding cream to spaghetti carbonara which ...      0
...                                                 ...    ...
2995   abc s good morning america ranks it the NUMBE...      1
2996   hyperlink hyperlink hyperlink let mortgage le...      1
2997   thank you for shopping with us gifts for all ...      1
2998   the famous ebay marketing e course learn to s...      1
2999   hello this is chinese traditional 子 件 NUMBER世...      1

[3000 rows x 2 columns]

In [37]:
print(file[file['label']==0].shape[0])

#want to delete 1000 hames

count =0
for ind in file.index:
    if file['label'][ind] == 0:
        #print(count , end= " ")
        file.drop([ind] , axis = 0,inplace = True)
        count+=1
        if count>=1000:
            break

print(file[file['label']==0].shape[0])

2500
1500

In [38]:
file.reset_index(inplace = True)
file.drop('index',axis=1,inplace=True)
file

                                                  email  label
0     hmm i m cc ing the exmh workers list because i...      0
1      the way to debug something like this is to tu...      0
2     on wed NUMBER sep NUMBER NUMBER NUMBER NUMBER ...      0
3      gotta wonder what the gpg config stuff in exm...      0
4      here s a message that works fine for me x mai...      0
...                                                 ...    ...
1995   abc s good morning america ranks it the NUMBE...      1
1996   hyperlink hyperlink hyperlink let mortgage le...      1
1997   thank you for shopping with us gifts for all ...      1
1998   the famous ebay marketing e course learn to s...      1
1999   hello this is chinese traditional 子 件 NUMBER世...      1

[2000 rows x 2 columns]

In [39]:
print(file[file['label']==0].shape[0])
print(file[file['label']==1].shape[0])

1500
500

In [45]:
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords
   
ps = PorterStemmer() 
  

words = ["program", "programs", "programer", "programing", "programers"] 


  
for w in words: 
    print(w, " : ", ps.stem(w))

program  :  program
programs  :  program
programer  :  program
programing  :  program
programers  :  program

In [46]:
def process_email(email):

    #1 remove punctuations
    nopunct = [char for char in email if char not in string.punctuation]
    nopunct = ''.join(nopunct)#List to string 
    
    #2 convert into lower case
    nopunct = nopunct.lower()
    
    #3 remove stopwords
    clean_words = [word for word in nopunct.split() if word not in stopwords.words('english')]
    
    for i in range(len(clean_words)):
        clean_words[i] = ps.stem(clean_words[i])
       
    return clean_words

In [47]:
mess = "Test tested testing"
print(process_email(mess))

['test', 'test', 'test']

In [ ]:
# Logistic 

X=vocab
Y=df['spam'].values

Y = np.array([int(i) for i in Y])

from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

accuracy = []
precision = []
recall = []
f0pt5 = []

skf = StratifiedKFold(n_splits =10, random_state = None)
skf.get_n_splits(X ,Y)

for train_index, test_index in skf.split(vocab , df['spam'].values):
    
    X1_train , X1_test = X[train_index], X[test_index]
    y1_train , y1_test = Y[train_index], Y[test_index]
    
 
    X1_test=X1_test.toarray()
    X1_train = X1_train.toarray()
    
    lr.fit(X1_train,y1_train)
    prediction = lr.predict(X1_test)
    
    TN,TP,FN,FP = confusion_mat(y1_test,prediction)
    
    print("TN ", TN , " TP " , TP , " FN " , FN , " FP ", FP)  

    accuracy.append(accuracy_score(TN,TP,FN,FP))
  
    precision.append(precision_score(TN,TP,FN,FP))

    recall.append(recall_score(TN,TP,FN,FP))

    f0pt5.append(f0pt5_score(TN,TP,FN,FP))
    
    
    
    
    
    
    
    from statistics import mean 

print("ACCURACY    : ",mean(accuracy))
print("PRECISION   : ",mean(precision))
print("RECALL      : ",mean(recall))
print("F0.5_SCORE  : ",mean(f0pt5))

In [ ]:
# Random Forest 


X=vocab
Y=df['spam'].values

Y = np.array([int(i) for i in Y])

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=70,random_state=3)

accuracy = []
precision = []
recall = []
f0pt5 = []

skf = StratifiedKFold(n_splits =10, random_state = None)
skf.get_n_splits(X ,Y)

for train_index, test_index in skf.split(vocab , df['spam'].values):
    
    X1_train , X1_test = X[train_index], X[test_index]
    y1_train , y1_test = Y[train_index], Y[test_index]
    
 
    X1_test=X1_test.toarray()
    X1_train = X1_train.toarray()
    
    rf.fit(X1_train,y1_train)
    prediction = rf.predict(X1_test)
    
    TN,TP,FN,FP = confusion_mat(y1_test,prediction)
    
    print("TN ", TN , " TP " , TP , " FN " , FN , " FP ", FP)  

    accuracy.append(accuracy_score(TN,TP,FN,FP))
  
    precision.append(precision_score(TN,TP,FN,FP))

    recall.append(recall_score(TN,TP,FN,FP))

    f0pt5.append(f0pt5_score(TN,TP,FN,FP))
    
    
    
from statistics import mean 

print("ACCURACY    : ",mean(accuracy))
print("PRECISION   : ",mean(precision))
print("RECALL      : ",mean(recall))
print("F0.5_SCORE  : ",mean(f0pt5))

In [1]:
# SVM
# splitting in 80% training and 20% testing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(vocab, df['spam'], test_size=0.20, random_state = 0)

type(X_train)

X_test = X_test.toarray()
X_train = X_train.toarray()

Y_test = np.array([int(i) for i in Y_test])
Y_train = np.array([int(i) for i in Y_train])

print(X_test.shape)
print(Y_test.shape)
print(X_train.shape)
print(Y_train.shape)

from sklearn.svm import SVC
model = SVC()
model.fit(X_train, Y_train)

prediction = model.predict(X1_test)
    
TN,TP,FN,FP = confusion_mat(y1_test,prediction)

print("TN ", TN , " TP " , TP , " FN " , FN , " FP ", FP) 

print("ACCURACY   : ",accuracy_score(TN,TP,FN,FP))
print("PRECISION  : ",precision_score(TN,TP,FN,FP))
print("RECALL     : ",recall_score(TN,TP,FN,FP))
print("F0.5_SCORE : ",f0pt5_score(TN,TP,FN,FP))

NameError: name 'vocab' is not defined