In [1]:
import os
import numpy as np
import pandas as pd
import nltk
import string
import sklearn

In [2]:
# f1 = open('D:\\5th sem\\ML\\Projects\\Dataset\\SMSSpamCollection')
f1=open('SMSSpamCollection')


# Convert f1 into DataFrame

In [3]:
# Make Data Frame


#Make df for raw data
arr = np.empty((0,2)) 
for line in f1:
    l = len(line)-1
    if line[0] == 'h':
        text1 = 0
        text2 = line[4:l]
        arr = np.append(arr, np.array([[text2 , text1]]) , axis = 0)  
      
    else :
        text1 = 1
        text2 = line[5:l]
        arr = np.append(arr, np.array([[text2 , text1]]) , axis = 0)

In [4]:
col = ["email" , "spam"]
df =  pd.DataFrame(data = arr , columns = col)
df['spam'] = df['spam'].apply(lambda x: ord(x) - ord('0'))


print(df)

                                                  email  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5570              Will Ã¼ b going to esplanade fr home?     0
5571  Pity, * was in mood for that. So...any other s...     0
5572  The guy did some bitching but I acted like i'd...     0
5573                         Rofl. Its true to its name     0
5574                                                        1

[5575 rows x 2 columns]

In [5]:
df.shape

(5575, 2)

In [6]:
df.columns

Index(['email', 'spam'], dtype='object')

In [7]:
print("Number of spam emails : " ,df[df['spam'] == 1].shape[0])
print("Number of ham emails  : ",df[df['spam'] == 0].shape[0])

Number of spam emails :  748
Number of ham emails  :  4827

# Over Sampling
 
### To make the dataset balanced

In [8]:
# file1 = pd.read_csv('D:\\5th sem\\ML\\Projects\\Dataset\\spam_or_not_spam.csv')
file1=pd.read_csv('spam_or_not_spam.csv')
file1 = file1[file1['label'] == 1]
file1.columns=['email','spam']

file1

                                                  email  spam
2508   save up to NUMBER on life insurance why spend...   1.0
2509  NUMBER fight the risk of cancer URL NUMBER sli...   1.0
2510  NUMBER fight the risk of cancer URL NUMBER sli...   1.0
2511   adult club offers free membership instant acc...   1.0
2512  i thought you might like these NUMBER slim dow...   1.0
...                                                 ...   ...
3010   abc s good morning america ranks it the NUMBE...   1.0
3011   hyperlink hyperlink hyperlink let mortgage le...   1.0
3012   thank you for shopping with us gifts for all ...   1.0
3013   the famous ebay marketing e course learn to s...   1.0
3014   hello this is chinese traditional 子 件 NUMBER世...   1.0

[499 rows x 2 columns]

In [9]:
# file2 = pd.read_csv('D:\\5th sem\\ML\\Projects\\Dataset\\spam_ham_dataset.csv')
file2=pd.read_csv('spam_ham_dataset.csv')
file2.drop(['Unnamed: 0','label'], axis =1,inplace = True)
file2.columns=['email','spam']
file2 = file2[file2['spam'] == 1]
file2['email']= file2['email'].apply(lambda str : str[9:])

file2

                                                  email  spam
3     photoshop , windows , office . cheap . main tr...     1
7     looking for medication ? we ` re the best sour...     1
10    vocable % rnd - word asceticism\r\nvcsc - bran...     1
11    report 01405 !\r\nwffur attion brom est inst s...     1
13    vic . odin n ^ ow\r\nberne hotbox carnal bride...     1
...                                                 ...   ...
5159  pictures\r\nstreamlined denizen ajar chased\r\...     1
5161  penny stocks are about timing\r\nnomad interna...     1
5162  anomaly boys from 3881\r\nuosda apaproved mled...     1
5164  slutty milf wants to meet you\r\ntake that !\r...     1
5170  important online banking alert\r\ndear valued ...     1

[1499 rows x 2 columns]

In [10]:
df=pd.concat([df,file1,file2],axis=0)
df

                                                  email  spam
0     Go until jurong point, crazy.. Available only ...   0.0
1                         Ok lar... Joking wif u oni...   0.0
2     Free entry in 2 a wkly comp to win FA Cup fina...   1.0
3     U dun say so early hor... U c already then say...   0.0
4     Nah I don't think he goes to usf, he lives aro...   0.0
...                                                 ...   ...
5159  pictures\r\nstreamlined denizen ajar chased\r\...   1.0
5161  penny stocks are about timing\r\nnomad interna...   1.0
5162  anomaly boys from 3881\r\nuosda apaproved mled...   1.0
5164  slutty milf wants to meet you\r\ntake that !\r...   1.0
5170  important online banking alert\r\ndear valued ...   1.0

[7573 rows x 2 columns]

In [11]:
print("Number of spam emails : " ,df[df['spam'] == 1].shape[0])
print("Number of ham emails  : ",df[df['spam'] == 0].shape[0])

Number of spam emails :  2746
Number of ham emails  :  4827

# Check Duplicates

In [12]:
df.drop_duplicates(inplace = True)

#New shape of the df
df.shape

(7061, 2)

In [13]:
df

                                                  email  spam
0     Go until jurong point, crazy.. Available only ...   0.0
1                         Ok lar... Joking wif u oni...   0.0
2     Free entry in 2 a wkly comp to win FA Cup fina...   1.0
3     U dun say so early hor... U c already then say...   0.0
4     Nah I don't think he goes to usf, he lives aro...   0.0
...                                                 ...   ...
5159  pictures\r\nstreamlined denizen ajar chased\r\...   1.0
5161  penny stocks are about timing\r\nnomad interna...   1.0
5162  anomaly boys from 3881\r\nuosda apaproved mled...   1.0
5164  slutty milf wants to meet you\r\ntake that !\r...   1.0
5170  important online banking alert\r\ndear valued ...   1.0

[7061 rows x 2 columns]

In [14]:
df.reset_index(inplace=True)

In [15]:
df.drop('index',axis=1,inplace=True)

df

                                                  email  spam
0     Go until jurong point, crazy.. Available only ...   0.0
1                         Ok lar... Joking wif u oni...   0.0
2     Free entry in 2 a wkly comp to win FA Cup fina...   1.0
3     U dun say so early hor... U c already then say...   0.0
4     Nah I don't think he goes to usf, he lives aro...   0.0
...                                                 ...   ...
7056  pictures\r\nstreamlined denizen ajar chased\r\...   1.0
7057  penny stocks are about timing\r\nnomad interna...   1.0
7058  anomaly boys from 3881\r\nuosda apaproved mled...   1.0
7059  slutty milf wants to meet you\r\ntake that !\r...   1.0
7060  important online banking alert\r\ndear valued ...   1.0

[7061 rows x 2 columns]

# Check for Missing values

In [16]:
# Check for Missing data (NAN,na,NaN) for each column
df.isnull().sum()

email    0
spam     0
dtype: int64

In [17]:
df = df.dropna()

df

                                                  email  spam
0     Go until jurong point, crazy.. Available only ...   0.0
1                         Ok lar... Joking wif u oni...   0.0
2     Free entry in 2 a wkly comp to win FA Cup fina...   1.0
3     U dun say so early hor... U c already then say...   0.0
4     Nah I don't think he goes to usf, he lives aro...   0.0
...                                                 ...   ...
7056  pictures\r\nstreamlined denizen ajar chased\r\...   1.0
7057  penny stocks are about timing\r\nnomad interna...   1.0
7058  anomaly boys from 3881\r\nuosda apaproved mled...   1.0
7059  slutty milf wants to meet you\r\ntake that !\r...   1.0
7060  important online banking alert\r\ndear valued ...   1.0

[7061 rows x 2 columns]

# Tokenization

In [18]:
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords

ps = PorterStemmer()

In [19]:
def process_email(email):

    #1 remove punctuations
    nopunct = [char for char in email if char not in string.punctuation]
    nopunct = ''.join(nopunct)#List to string 
    
    #2 convert into lower case
    nopunct = nopunct.lower()
    
    #3 remove stopwords
    clean_words = [word for word in nopunct.split() if word not in stopwords.words('english')]
    
    #4 stemming
    for i in range(len(clean_words)):
        clean_words[i] = ps.stem(clean_words[i])
       
    return clean_words

In [20]:
print("Number of spam emails : " ,df[df['spam'] == 1].shape[0])
print("Number of ham emails  : ",df[df['spam'] == 0].shape[0])

Number of spam emails :  2543
Number of ham emails  :  4518

## Making Vocabulary of words

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(analyzer=process_email)
vocab = vectorizer.fit_transform(df['email'])

In [22]:
print(vocab)

  (0, 16244)	1
  (0, 20356)	1
  (0, 28309)	1
  (0, 10014)	1
  (0, 4632)	1
  (0, 6904)	1
  (0, 24574)	1
  (0, 16552)	1
  (0, 39022)	1
  (0, 21161)	1
  (0, 12494)	1
  (0, 6895)	1
  (0, 8568)	1
  (0, 16401)	1
  (0, 3502)	1
  (0, 38261)	1
  (1, 26297)	1
  (1, 21293)	1
  (1, 20170)	1
  (1, 38669)	1
  (1, 36503)	1
  (1, 26440)	1
  (2, 15174)	1
  (2, 13274)	2
  (2, 768)	1
  :	:
  (7060, 3174)	1
  (7060, 9210)	2
  (7060, 38234)	1
  (7060, 12311)	1
  (7060, 26450)	6
  (7060, 15152)	1
  (7060, 19307)	1
  (7060, 9569)	2
  (7060, 14554)	1
  (7060, 19612)	1
  (7060, 9195)	1
  (7060, 31428)	1
  (7060, 18552)	1
  (7060, 25387)	1
  (7060, 29103)	1
  (7060, 5383)	1
  (7060, 14068)	1
  (7060, 30242)	1
  (7060, 4468)	1
  (7060, 19250)	1
  (7060, 19321)	1
  (7060, 19216)	1
  (7060, 34473)	1
  (7060, 8629)	3
  (7060, 8176)	1

In [23]:
vocab.shape

(7061, 41150)

In [24]:
print(vocab.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

# Naive Bayes Classifier

In [25]:
class NaiveBayesClassifier :
    
    def fit(self, X, y):
        self.X_train = X
        self.y_train = y
        self.X_filtered1 = self.X_train[self.y_train == 1]
        self.X_filtered0 = self.X_train[self.y_train == 0]
        self.sum_all1 = np.sum(self.X_filtered1[:,:])
        self.sum_all0 = np.sum(self.X_filtered0[:,:])
            
    #label => spam/ham
    def prior_prob(self, label):
        total = self.X_train.shape[0]
        label_total = np.sum(self.y_train == label)
        return label_total/total
    
    #Conditional probability P(Xi/label)
    def conditional_prob(self, col_name, col_value, label):
        if label == 1 :
            X_filtered = self.X_filtered1
            numerator = np.sum(X_filtered[:, col_name]) + 1
            denominator = self.sum_all1 + self.X_train.shape[1]
        else:
            X_filtered = self.X_filtered0
            numerator = np.sum(X_filtered[:, col_name]) + 1
            denominator = self.sum_all0 + self.X_train.shape[1]
        
        return float(float(numerator)/float(denominator))
    
    
    def predict(self, X_test):
        
        row = X_test.shape[0]
        col = X_test.shape[1]
        pp1 = self.prior_prob(1)
        pp0 = self.prior_prob(0)
        
        pred = []
        
        for i in range(row):
            s_prob =1.0
            ns_prob =1.0
            #print(i,end=" ")
            
            for j in range(col):
                if X_test[i][j] > 0:
                    s_prob = s_prob*self.conditional_prob(j , X_test[i][j],1);
                    ns_prob =ns_prob*self.conditional_prob(j , X_test[i][j],0);
                
            s_prob= s_prob*pp1
            ns_prob = ns_prob*pp0
            #print(s_prob , ns_prob)
            if s_prob>ns_prob :
                pred.append(1)
            else :
                pred.append(0)
        return pred

## Performance Measures Functions

In [26]:
def confusion_mat(Y_test, pred):
    TN = 0
    TP=0
    FN=0
    FP=0
    

    for i in range(len(Y_test)):
        
        if pred[i] == 0 and Y_test[i] == 0:
            TN=TN+1
        elif pred[i] == 1 and Y_test[i] == 1:
            TP=TP+1
        elif pred[i] == 1 and Y_test[i] == 0:
            FP=FP+1
        else:
            FN=FN+1
    
    return TN,TP,FN,FP

In [27]:
def accuracy_score(TN,TP,FN,FP):
    total = TN+TP+FN+FP
    return (TN+TP)/total


def precision_score(TN,TP,FN,FP):
    return TP/(TP+FP)


def recall_score(TN,TP,FN,FP):
    return TP/(TP+FN)


def f0pt5_score(TN,TP,FN,FP):
    p = TP/(TP+FP)
    r = TP/(TP+FN)
    return  5*p*r/(p+r)

# VALIDATION TECHNIQUES



## Train Test Split

In [28]:
# splitting in 80% training and 20% testing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(vocab, df['spam'], test_size=0.20, random_state = 0)

In [29]:
X_test = X_test.toarray()
X_train = X_train.toarray()

Y_test = np.array([int(i) for i in Y_test])
Y_train = np.array([int(i) for i in Y_train])

# Y_test = Y_test.reset_index()
# Y_train = Y_train.reset_index()

In [30]:
print(type(X_test))
print(type(X_train))
print(type(Y_test))
print(type(Y_train))


print(X_test.shape)
print(Y_test.shape)
print(X_train.shape)
print(Y_train.shape)

print(X_test)
print('------------------------------------------')
print(Y_train)
print(Y_test)
# print(X_train)
#print(type(Y_train))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(1413, 41150)
(1413,)
(5648, 41150)
(5648,)
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
------------------------------------------
[0 0 1 ... 0 1 1]
[0 1 0 ... 1 0 1]

In [31]:
classifier = NaiveBayesClassifier()
classifier.fit(X_train , Y_train)

pred = classifier.predict(X_test)

print(pred)
type(pred)

[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1]

list

### Performance Measures for Train Test Split

In [32]:
#CONFUSION MATRIX
TN,TP,FN,FP = confusion_mat(Y_test,pred)

print("TN ", TN)
print("FP ", FP)
print("FN ", FN)
print("TP ", TP)

TN  842
FP  59
FN  181
TP  331

In [33]:
print("ACCURACY   : ",accuracy_score(TN,TP,FN,FP))
print("PRECISION  : ",precision_score(TN,TP,FN,FP))
print("RECALL     : ",recall_score(TN,TP,FN,FP))
print("F0.5_SCORE : ",f0pt5_score(TN,TP,FN,FP))

ACCURACY   :  0.8301486199575372
PRECISION  :  0.8487179487179487
RECALL     :  0.646484375
F0.5_SCORE :  1.834811529933481

## Stratified K fold Cross Validation

In [34]:
X=vocab
Y=df['spam'].values

Y = np.array([int(i) for i in Y])

In [35]:
accuracy = []
precision = []
recall = []
f0pt5 = []
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits =10, random_state = None)
skf.get_n_splits(X ,Y)

for train_index, test_index in skf.split(vocab , df['spam'].values):
    
    X1_train , X1_test = X[train_index], X[test_index]
    y1_train , y1_test = Y[train_index], Y[test_index]
    
 
    X1_test=X1_test.toarray()
    X1_train = X1_train.toarray()
    
    classifier.fit(X1_train,y1_train)
    prediction = classifier.predict(X1_test)
    
    TN,TP,FN,FP = confusion_mat(y1_test,prediction)
    
    print("TN ", TN , " TP " , TP , " FN " , FN , " FP ", FP)  

    accuracy.append(accuracy_score(TN,TP,FN,FP))
  
    precision.append(precision_score(TN,TP,FN,FP))

    recall.append(recall_score(TN,TP,FN,FP))

    f0pt5.append(f0pt5_score(TN,TP,FN,FP))

TN  432  TP  171  FN  84  FP  20
TN  427  TP  181  FN  73  FP  25
TN  432  TP  193  FN  61  FP  20
TN  433  TP  142  FN  112  FP  19
TN  425  TP  139  FN  115  FP  27
TN  434  TP  149  FN  105  FP  18
TN  421  TP  147  FN  107  FP  31
TN  424  TP  142  FN  112  FP  28
TN  418  TP  135  FN  120  FP  33
TN  423  TP  138  FN  117  FP  28

### Performance Measures of Stratified K fold validation

In [36]:
print("ACCURACIES  : ",accuracy)
print("PRECISIONS  : ",precision)
print("RECALL      : ",recall)
print("F0.5_SCORE  : ",f0pt5)

ACCURACIES  :  [0.8528995756718529, 0.8611898016997167, 0.8852691218130312, 0.8144475920679887, 0.7988668555240793, 0.8257790368271954, 0.8045325779036827, 0.8016997167138811, 0.78328611898017, 0.7946175637393768]
PRECISIONS  :  [0.8952879581151832, 0.8786407766990292, 0.9061032863849765, 0.8819875776397516, 0.8373493975903614, 0.8922155688622755, 0.8258426966292135, 0.8352941176470589, 0.8035714285714286, 0.8313253012048193]
RECALL      :  [0.6705882352941176, 0.7125984251968503, 0.7598425196850394, 0.5590551181102362, 0.547244094488189, 0.5866141732283464, 0.5787401574803149, 0.5590551181102362, 0.5294117647058824, 0.5411764705882353]
F0.5_SCORE  :  [1.9170403587443943, 1.9673913043478264, 2.066381156316916, 1.7108433734939756, 1.6547619047619044, 1.7695961995249405, 1.7013888888888886, 1.6745283018867925, 1.595744680851064, 1.6389548693586697]

In [37]:
from statistics import mean 

print("ACCURACY    : ",mean(accuracy))
print("PRECISION   : ",mean(precision))
print("RECALL      : ",mean(recall))
print("F0.5_SCORE  : ",mean(f0pt5))

ACCURACY    :  0.8222587960940975
PRECISION   :  0.8587618109344097
RECALL      :  0.6044326076887447
F0.5_SCORE  :  1.7696631038175372

# Comparison with Other Techniques

## Logistic Regression

In [38]:
X=vocab
Y=df['spam'].values

Y = np.array([int(i) for i in Y])

from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

accuracy = []
precision = []
recall = []
f0pt5 = []

skf = StratifiedKFold(n_splits =10, random_state = None)
skf.get_n_splits(X ,Y)

for train_index, test_index in skf.split(vocab , df['spam'].values):
    
    X1_train , X1_test = X[train_index], X[test_index]
    y1_train , y1_test = Y[train_index], Y[test_index]
    
 
    X1_test=X1_test.toarray()
    X1_train = X1_train.toarray()
    
    lr.fit(X1_train,y1_train)
    prediction = lr.predict(X1_test)
    
    TN,TP,FN,FP = confusion_mat(y1_test,prediction)
    
    print("TN ", TN , " TP " , TP , " FN " , FN , " FP ", FP)  

    accuracy.append(accuracy_score(TN,TP,FN,FP))
  
    precision.append(precision_score(TN,TP,FN,FP))

    recall.append(recall_score(TN,TP,FN,FP))

    f0pt5.append(f0pt5_score(TN,TP,FN,FP))

TN  448  TP  212  FN  43  FP  4
TN  451  TP  209  FN  45  FP  1
TN  448  TP  229  FN  25  FP  4
TN  452  TP  243  FN  11  FP  0
TN  448  TP  217  FN  37  FP  4
TN  449  TP  220  FN  34  FP  3
TN  450  TP  220  FN  34  FP  2
TN  452  TP  229  FN  25  FP  0
TN  448  TP  224  FN  31  FP  3
TN  450  TP  219  FN  36  FP  1

In [39]:
from statistics import mean 

print("ACCURACY    : ",mean(accuracy))
print("PRECISION   : ",mean(precision))
print("RECALL      : ",mean(recall))
print("F0.5_SCORE  : ",mean(f0pt5))

ACCURACY    :  0.9514258467530282
PRECISION   :  0.9901229409850508
RECALL      :  0.8737918789563069
F0.5_SCORE  :  2.3199212914363896

## Decision Tree

In [40]:
X=vocab
Y=df['spam'].values

Y = np.array([int(i) for i in Y])

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=70,random_state=3)

accuracy = []
precision = []
recall = []
f0pt5 = []

skf = StratifiedKFold(n_splits =10, random_state = None)
skf.get_n_splits(X ,Y)

for train_index, test_index in skf.split(vocab , df['spam'].values):
    
    X1_train , X1_test = X[train_index], X[test_index]
    y1_train , y1_test = Y[train_index], Y[test_index]
    
 
    X1_test=X1_test.toarray()
    X1_train = X1_train.toarray()
    
    rf.fit(X1_train,y1_train)
    prediction = rf.predict(X1_test)
    
    TN,TP,FN,FP = confusion_mat(y1_test,prediction)
    
    print("TN ", TN , " TP " , TP , " FN " , FN , " FP ", FP)  

    accuracy.append(accuracy_score(TN,TP,FN,FP))
  
    precision.append(precision_score(TN,TP,FN,FP))

    recall.append(recall_score(TN,TP,FN,FP))

    f0pt5.append(f0pt5_score(TN,TP,FN,FP))

TN  452  TP  145  FN  110  FP  0
TN  452  TP  153  FN  101  FP  0
TN  452  TP  193  FN  61  FP  0
TN  452  TP  238  FN  16  FP  0
TN  451  TP  195  FN  59  FP  1
TN  452  TP  202  FN  52  FP  0
TN  452  TP  190  FN  64  FP  0
TN  451  TP  198  FN  56  FP  1
TN  451  TP  196  FN  59  FP  0
TN  451  TP  194  FN  61  FP  0

In [41]:
from statistics import mean 

print("ACCURACY    : ",mean(accuracy))
print("PRECISION   : ",mean(precision))
print("RECALL      : ",mean(recall))
print("F0.5_SCORE  : ",mean(f0pt5))

ACCURACY    :  0.9092288366837493
PRECISION   :  0.9989872833555533
RECALL      :  0.7487802995213834
F0.5_SCORE  :  2.130959715587705